.git
.gitignore
node_modules

*.zip
*.bak

# Scripts y backend (no necesarios para nginx)
*.py
*.js

# IMPORTANTE: NO ignores el frontend
!index.html
!assets/
!*.html
!robots.txt
!sitemap.xml
!site.webmanifest
